{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Выбор гормонов</title>
<link rel="stylesheet" href="{% static 'vendor/css/styles.css' %}">
</head>
<body>
  <div class="container">
    <h1>Выбор гормонов и ощущений</h1>
    <form id="hormone-form" method="post">
      {% csrf_token %}
      <div class="hormone-slider">
        {% for hormone in hormones %}
        <label for="{{ hormone.id }}">{{ hormone.hormone_name }}:</label>
        <input type="range" id="{{ hormone.id }}" name="{{ hormone.id }}" min="1" max="100" value="50" oninput="updateOutput(this)">
        <output for="{{ hormone.id }}" id="{{ hormone.id }}-output">50</output>
        <p>{{ hormone.description }}</p>
        {% endfor %}
      </div>
      <button type="submit" id="submit-btn">Подтвердить</button>
    </form>
  </div>
  <script src="{% static 'vendor/js/script.js' %}"></script>
</body>
</html>